body{
	margin: 10px;
	background: linear-gradient(black,white);
}

input{
	text-align: center;
	width: 40vw;
	height: 5vh;
	font-size: 20px;
}

#myButton{
	background-color: #6dd26d;
	
	font-size: 15px;
	box-shadow: 5px 3px 3px black;
	border-radius: 3px;
}

#submit{
	box-shadow: 8px 3px 3px black;
}